<!doctype  html>
<html  lang="en">
<head>

<title>Site De Réservations</title>
</head>
{% block header %} 
<!--logout link added to base.html -->
<form class="logout-link" action={% url 'logout' %} method="post">
{% csrf_token %}
<!--logout button added to te base.html -->
<button type="submit">Logout</button>
</form>
{% endblock header  %}
<body>
  <div  class="container">
    <div  class="row justify-content-center">
      <div  class="col-4">
      <h1  class="text-center">Site de Réservations</h1>
      {% block main %}
      {% endblock %}
      </div>
    </div>
  </div>
</body>
</html>