{% extends "app/base.html" %}

<!-- {% block header %} <h2>  </h2> {% endblock header %} -->

{% block content %}

<section class="content">


    <div class="card border-dark mb-4">
        <h5 class="card-header bg-dark text-white">{{location.designation}}</h5>
        <div class="card-body">
            <h5>Adresse : {{location.address}}</h5>
            <h5>Code Postal : {{location.locality.postal_code}} {{location.locality.locality}}</h5>
            <h5>Téléphone : {{location.phone}}</h5>
            <h5> Site internet : {{ location.website|urlize }}</h5>
            <a href="{% url 'LocationListView' %}" class="btn btn-secondary"> Retour aux emplacements</a>
        </div>
    </div>


      <h1>{{location.designation}}</h1>
      <h3> {{location.address}}</h3>
      <h3> {{location.locality.postal_code}} </h3>
      <h3> {{location.locality.locality}} </h3>
      <h3>{{location.phone}}</h3>
      <h4>{{ location.website|urlize }}</h4>
      <h4><a href="{% url 'LocationListView' %}">Retour aux emplacements</a></h4>
      <!-- hidden if you can't connect to the admin -->
      {% if request.user.is_staff %}
        <a href="{% url 'UpdateLocation' location.pk %}" class="btn btn-primary"> Modifier location </a>
        <a href="{% url 'DeleteLocation' location.pk %}" class="btn btn-link"> Supprimer location </a>
      {% endif %}


      <h3>***********************************************</h3>
      <h2> Representions</h2>
      {% if request.user.is_staff %}
        <a href="{% url 'CreateRepresentation' location.pk %}"> Ajouter Representation </a> <!-- A mettre dans la nav bar-->
      {% endif %}

    {% for rep in repdico %}
      <h3>***********************************************</h3>
      <h2> Spectacle: {{rep.show.title}}</h2>
      <h3> Quand: {{rep.time}}</h3>
      <h3> Sièges: {{rep.total_seats}} </h3>
      <h3> Sièges libres: {{rep.available_seats}}</h3>
      {% if request.user.is_staff %}
        <a href="{% url 'UpdateRepresentation' rep.pk %}"> Modifier Representation </a>
        <a href="{% url 'DeleteRepresentation' rep.pk %}"> Supprimer Representation </a>

      {% endif %}

      <h3>***********************************************</h3>

        </tbody>
    </table>


</section>

{% endblock content %}


<table class="table">
    <thead class="thead-dark">
    <tr>
        <th>Spectacle</th>
        <th>Quand</th>
        <th>Sièges</th>
        <th>Sièges libres</th>
    </tr>
    </thead>
    <tbody>
    {% for rep in repdico %}
    <tr>
        <td>{{rep.show.title}}</td>
        <td>{{rep.time}}</td>
        <td>{{rep.total_seats}}</td>
        <td>{{rep.available_seats}}</td>
    </tr>
    {% endfor %}

    </tbody>
</table>