{% extends "app/base.html" %}

{% block header %} <h2> Emplacements des spectacles ! </h2> {% endblock header %}

{% block content %}
    <!-- the search bar button with bootstrap customization-->
    <form class="form-inline my-2 my-lg-1">
      <input name="search" placeholder=" Rechercher.. " value="{{search_term}}">
      <button class="btn btn-success" type="submit">
        Rechercher
      </button>
    </form>

    {% if request.user.is_staff %}
      <a href="{% url 'CreateLocation' %}"> Ajouter Location </a> <!-- A mettre dans la nav bar-->
    {% endif %}

    <section class="content">

      {% for une_loc in locations %}

          <h2><a href='{{ une_loc.get_absolute_url }}'> {{ une_loc.designation }}</a></h2>

      {% endfor %}
      <!--pagination part -->
      <div class="pagination">
      {% if locations.has_previous %}
        <a class="btn btn-outline-info mb-5" href="?page=1">début</a>
        <a class="btn btn-outline-info mb-5" href="?page={{ locations.previous_page_number }}"><</a>
      {% endif %}

      {% for num in locations.paginator.page_range %}
        {% if locations.number == num %}
          <a class="btn btn-info mb-5" href="?page= {{ num }}">{{ num }}</a>
        {% elif num > locations.number|add:'-5' and num < locations.number|add:'5' %}
          <a class="btn btn-outline-info mb-5" href="?page= {{ num }}">{{ num }}</a>
        {% endif %}

      {% endfor %}

      {% if locations.has_next %}
        <a class="btn btn-outline-info mb-5" href="?page={{ locations.next_page_number }}">></a>
        <a class="btn btn-outline-info mb-5" href="?page={{ locations.paginator.num_pages }}">fin</a>
      {% endif %}

      </div>

</section>

{% endblock content %}
