{% extends "app/base.html" %}

<!-- {% block header %} <h2>  </h2> {% endblock header %} -->

{% block content %}

    <section class="content">


      <!-- hidden if you can't connect to the admin -->
      {% if request.user.is_staff %}
        <a href="{% url 'UpdateLocation' location.pk %}" class="btn btn-link"> Modifier location </a>
      {% endif %}

      <h1>{{location.designation}}</h1>
      <h3> {{location.address}}</h3>
      <h3> {{location.locality.postal_code}} </h3>
      <h3> {{location.locality.locality}} </h3>
      <h3>{{location.phone}}</h3>
      <h4>{{ location.website|urlize }}</h4>
      <h4><a href="{% url 'LocationListView' %}">Retour aux emplacements</a></h4>

      <!-- delete button -->
      {% if request.user.is_staff %}
        <form action="{% url 'DeleteLocation' location.pk %}" method="post">
            {% csrf_token %}
            <button type="submit" class= "btn btn-link" onclick="return confirm('Sûr de vouloir faire ça ?')">
                supprimer location
            </button>
        </form>
      {% endif %}

      <h3>***********************************************</h3>
      <h2> Representions</h2>
      {% if request.user.is_staff %}
        <a href="{% url 'CreateRepresentation' location.pk %}"> Ajouter Representation </a> <!-- A mettre dans la nav bar-->
      {% endif %}

    {% for rep in repdico %}
      <h3>***********************************************</h3>
      <h2> Spectacle: {{rep.show.title}}</h2>
      <h3> Quand: {{rep.time}}</h3>
      <h3> Sièges: {{rep.total_seats}} </h3>
      <h3> Sièges libres: {{rep.available_seats}}</h3>
      {% if request.user.is_staff %}
        <a href="{% url 'UpdateRepresentation' rep.pk %}"> Modifier Representation </a>

        <!-- delete button-->
        {% if request.user.is_staff %}

          <form action="{% url 'DeleteRepresentation' rep.pk %}" method="post">
              {% csrf_token %}
              <button type="submit" class= "btn btn-link" onclick="return confirm('Sûr de vouloir faire ça ?')">
                  Supprimer representation
              </button>
          </form>
        {% endif %}


      {% endif %}

      <h3>***********************************************</h3>

    {% endfor %}


    </section>

{% endblock content %}
