<!--login template-->
{% extends "base.html" %}

{% block title %}Login {% endblock %}

{% block content %}
<!--<h1>Login</h1>
&lt;!&ndash;CSFR token and form added for login functionality &ndash;&gt;
<form  action={%url 'login'%} method="post">
{% csrf_token %}
{{form}}
<input type="submit" value="Login">
</form>-->

<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading mb-4">Welcome back!</h3>
              <form action={%url 'login'%} method="post">
                                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="form-label-group">
                  {{ form.username }}
                  <label for="{{ form.username.id_for_label }}">Email address</label>

                    {{ form.username.errors }}
                </div>

                <div class="form-label-group">
                  {{ form.password }}
                  <label for="{{ form.password.id_for_label }}">Password</label>

                    {{ form.password.errors }}
                </div>
                <div class="custom-control custom-checkbox mb-3">
                  <input type="checkbox" class="custom-control-input" id="customCheck1">
                  <label class="custom-control-label" for="customCheck1">Remember password</label>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit" value="login">Login</button>
                <div class="text-center">
                  <a class="small" href="#">Forgot password?</a></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}