<!--password change confirm template-->
{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Changez le mot de passe{% endblock %}

{% block content %}
  {% if validlink %}
    <h3>Changez le mot de passe</h3>
    <form method="post">
      {% csrf_token %}
      {{ form|crispy}}
      <button type="submit" class="btn btn-success">Modifiez votre mot de passe</button>
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
{% endblock %}