{% extends "app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="content-section">
  <div class="media">
    <img class="rounded-circle account-img" src="{{ user.userprofile.image.url }}">
    <div class="media-body">
      <h2 class = "account-heading"> {{ user.username }}</h2>
      <p class="text-secondary"> {{user.email}} </p>
    </div>

  </div>
    <form method="POST" enctype="multipart/form-data"> <!-- to save image in the background-->
      {%csrf_token %} <!-- Django constraint to make the form works -->
      <fieldset class=" form-group">
        <legend class= " border-bottom mb-4"> Info de profile </legend>
        {{ u_form | crispy }}
        {{ p_form | crispy }} <!-- Using crispy style to handle style "properly" -->
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-info" type ="submit"> Modier le prolfile </button>
      </div>
    </form>


</div>

{% endblock content %}
