{% extends "app/base.html" %}

{% block content %}
    <div class="content-section">
        <div class="row">
            <div class="col">
                <h2>{{ user.username }}</h2>
                <p> Nom : {{ user.last_name }}</p>
                <p>Prénom : {{ user.first_name }}</p>
                <p>E-mail : {{ user.email }}</p>
                <p>Langue : {{ user.userprofile.language }}</p>
                <p>Rôle : {{ user.groups.all.0.name }}</p>
                <a href='{% url "profile-update" %}'>Modifier</a>
                <a href="{% url 'admin:index' %}">Administration</a>
            </div>
        </div>
    </div>
{% endblock  %}

