{% extends "app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

  <div class=" content-section">
    <form method="POST">
      {%csrf_token %} <!-- Django constraint to make the form works -->
      <fieldset class=" form-group">
        <legend class= " border-bottom mb-4"> Join notre clan théatrale l'ami ! </legend>
        {{ form | crispy  }} <!-- Using crispy style to handle style "properly" -->
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-info" type ="submit"> S'inscrire </button>
      </div>
    </form>
    <div class=" border-top pt-3">
      <small class="text-muted">
        As-tu deja un compte ? <a class="ml-2" href="#"> Se connecter </a>
      </small>
    </div>

  </div>

{% endblock content %}
