{% extends "base.html" %}

{% block content %}

<div class="pb-5">
    <div class="container">

        <div class="row p-5 bg-white rounded shadow mb-5">
            <div class="col-12 bg-light rounded-pill px-4 py-3 mb-5 text-uppercase font-weight-bold">Détail spectacle et
                quantité
            </div>

            <div class="col-2 col-xs-2"><img class="img-responsive" src="http://placehold.it/100x70">
            </div>
            <div class="col-4 col-xs-4">
                <h4 class="product-name"><strong>Carmen</strong></h4>
                <p><small>Carmen est un opéra-comique en quatre actes de Georges Bizet, sur un livret d'Henri Meilhac et
                    Ludovic Halévy, d'après la nouvelle Carmen, de Prosper Mérimée.</small></p>
            </div>
            <div class="col-6 col-xs-6">
                <div class="row">
                    <div class="col-6 col-xs6 text-right">
                        <h6><strong><span id="price">25.00</span> € <span class="text-muted">x</span></strong></h6>
                    </div>
                    <div class="col-4 col-xs-4">
                        <input type="text" id="quantity "class="form-control input-sm" value="1">
                    </div>
                    <div class="col-2 col-xs-2">
                        <button type="button" class="btn btn-link btn-xs">
                            <span id="trash" class="fa fa-trash"> </span>
                        </button>
                    </div>
                </div>
            </div>

        </div>
        <!-- End -->

        <div class="row py-5 p-4 bg-white rounded shadow">
            <div class="col-lg-6">
                <div class="bg-dark text-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Location Details</div>
                <div class="p-4">
                    <p class="font-italic mb-4">
                    <ul>
                        <li> Date et heure : 15 mai 2020 à 20h00</li>
                        <li> Adresse : Avenue du Roi 96</li>
                        <li> Localité : 1060 Saint Gilles</li>
                    </ul>
                    </p>
                </div>
                <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Remarque pour le vendeur
                </div>
                <div class="p-4">
                    <p class="font-italic mb-4">Si vous avez des instructions pour le vendeur, s'il vous plait
                        remplissez
                        la case ci-dessous</p>
                    <textarea name="" cols="30" rows="2" class="form-control"></textarea>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Résumer de la commande
                </div>
                <div class="p-4">
                    <ul class="list-unstyled mb-4">
                        <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">
                            Sous-total </strong><strong>$390.00</strong></li>
                        <li class="d-flex justify-content-between py-3 border-bottom"><strong
                                class="text-muted">TVA</strong><strong>$0.00</strong></li>
                        <li class="d-flex justify-content-between py-3 border-bottom"><strong
                                class="text-muted">Total</strong>
                            <h5 class="font-weight-bold" id="total">€ 50</h5>
                        </li>
                    </ul>
                    <a href="#" class="btn btn-dark rounded-pill py-2 btn-block">Paiement</a>
                </div>
            </div>
        </div>

    </div>
</div>
</div>

<script language="JavaScript">

</script>

{% endblock %}