
{% extends "app/base.html" %}


{% block content %}

<div class ='col-sm-8 col-sm-offset-2'>

<table class='table'>

    <thead>
        <th> Representation</th>
        <th> Places </th>
        <th> Prix par place</th>
        <th> Total </th>
        
    </thead>


    <tr> 
        <td> {{ reservation.representation.show.title }} </td>  
        <td> {{reservation.seats }} </td> 
        <td> {{ reservation.representation.show.price }} </td>
        <td> {{reservation.price }} </td>
    </tr>

<tfoot>
    <tr>
        <td> </td>
        <td> </td>
        
    </tr>
</tfoot>

</table>

<P> 
    <form class='form pull-right' method='GET' action ='{% url "homepaypal" %}'>
        <input name="idreservation" type='number' hidden='true' value = '{{reservation.pk}}' />
        <input type='submit' value='payer'  />
    </form>
</P>

{{ form.render }}

<P>Status : {{ reservation.status }} </P>
</div>
{% endblock %}