{% extends 'base.html' %}

{% block content %}

<h1> Liste des spectacles </h1>
<div style="margin-bottom:10px;">
    <form method="get" action="{% url 'show' %}">
        <input type="text" name='query' placeholder="Search">
    </form>
</div>

<div class="mescartes">

    <div class="row text-center">
        {% for show in shows %}
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="{{show.poster|default:'http://placehold.it/500x325'}}" alt="">
                <div class="card-body">
                    <h4 class="card-title">{{show.title}}</h4>
                    <p class="card-text">{{show.description|safe|truncatewords:20}}</p>
                </div>
                <div class="card-footer">
                    <a href="{{ show.get_absolute_url }}" class="btn btn-primary">Find Out More!</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="pagination text-center">
    {% if shows.has_previous %}
    <a href="?page={{shows.previous_page_number }}">Précédente</a> -
    {% endif %}

    <span class="current">
       Page {{ shows.number }} sur {{ shows.paginator.num_pages }}
   </span>

    {% if shows.has_next %}
    <a href="?page={{shows.next_page_number }}">Suivante</a>
    {% endif %}

</div>

{% endblock content %}
