<!-- update show html template-->
{% extends "base.html" %}

{% block content %}
<!-- Page Content -->
<div class="container">
    <h1>Récupération des spectacles réussi !</h1>
    <h2 class='mt-4'>Créer : </h2>
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
            <th scope="col">Titre</th>
            <th scope="col">Description</th>
            <th scope="col">Poster</th>
            <th scope="col">Bookable</th>
            <th scope="col">Prix</th>
            <th scope="col">Date de création</th>
            </tr>
        </thead>
        <tbody>
            
            {% for show in data_to_create %}
                <tr>
                <th scope="row">{{show.title|title}}</th>
                <td>{{show.description}}</td>
                <td><img src='{{show.poster}}'></td>
                <td class="text-center">

                    {% load static %}

                    {% if show.bookable %}
                        <img src='{% static "admin/img/icon-yes.svg" %}'>
                    {% else %}
                        <img src='{% static "admin/img/icon-no.svg" %}'>
                    {% endif %}

                </td>
                <td>{{show.price}}€</td>
                <td>{{show.date_created}}</td>
                </tr>
            {% endfor%}
            
        </tbody>
    </table>

    <h2 class='mt-4'>Mis à jour : </h2>
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
            <th scope="col">Titre</th>
            <th scope="col">Description</th>
            <th scope="col">Poster</th>
            <th scope="col">Bookable</th>
            <th scope="col">Prix</th>
            <th scope="col">Date de création</th>
            </tr>
        </thead>
        <tbody>
            
            {% for show in data_to_update %}
                <tr>
                <th scope="row">{{show.title|title}}</th>
                <td>{{show.description}}</td>
                <td><img src='{{show.poster}}'></td>
                <td class="text-center">

                    {% load static %}
                    
                    {% if show.bookable %}
                        <img src='{% static "admin/img/icon-yes.svg" %}'>
                    {% else %}
                        <img src='{% static "admin/img/icon-no.svg" %}'>
                    {% endif %}
                    
                </td>
                <td>{{show.price}}€</td>
                <td>{{show.date_created}}</td>
                </tr>
            {% endfor%}
            
        </tbody>
    </table>
</div>
<!-- /.container -->


{% endblock %}