# Untrack virtualenv-files
env/

# Untrack environment variables
.env

# Untrack python-cache-files in main directory
__pycache__/
*.pyc


# Untrack other non-project related directories
.vscode/
.idea/