/* ALL PAGES */
#Top-bar, #Footer{
    box-shadow: 0px 0px 5px 2px #8080808c;
}

#menu-user{
    margin-right: 0px!important;
}

#menu-user .dropdown-menu{
    border: 0;
    padding: 0;
}

.menu-profile-img-wrapper{
    position: relative;
    display: block;
    width: 35px;
    height: 35px;
}

.dropdown > a{
    min-width: 160px;
}

img.profile-img{
    width: 100%;
    height: 100%;
}

#Content{
    box-shadow: 0px 0px 5px 2px #8080808c;
}

#list-pagination{
    text-align: center;
}

.text-red{
    color:#8c0000db!important;
}

.detail-img i.mg-wrapper{
    width: 100%;
    margin: 0 auto;

}

.detail-img img{
    width: 100%;
    margin: 20px 0;
    object-fit: cover;
    object-position: top;
    height: 400px;
}

.title h1{
    text-align: center;
}

.detail-content p{
    text-align: justify;
}

.list-items .img-wrapper{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.list-items img{
    width: 100%;
    object-fit: cover;
    object-position: top;
    height: 200px;
    transition: .3s ease-in-out;
}

.list-items img:hover{
    transform: scale(1.1);
    transition: .3s ease-in-out;
}