{% extends "app/base.html" %}

{% block title %}{{ title }}{% endblock %}


{% block content %}
    <div class="row mx-2 title">
        <div class="col">
            <h1>{{ title }}</h1>
        </div>
    </div>
    <div class="row mx-2 list-items">

        {% for show in shows %}
            <div class="col-4 my-2 item">
                <div class="my-2 img-wrapper">
                    <a href="{% url 'app:show-detail' show.pk %}"><img src='{{ show.poster_url }}'></a>
                </div>
                <a href="{% url 'app:show-detail' show.pk %}">{{ show.title}}</a>
            </div>
        {% endfor %}

    </div>

    {% include "app/include/pagination.html" %}

{% endblock content %}