<div id="Top-bar" class="container-fluid bg-light">
    <nav class="navbar navbar-expand-lg navbar-light container">
        <a class="navbar-brand" href="{% url 'app:home' %}">PID</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item d-flex justify-content-center">
                    <a class="nav-link text-primary" href="{% url 'app:home' %}">Accueil<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item d-flex justify-content-center">
                    <a class="nav-link text-primary" href="#">Prochains spectacles</a>
                </li>
                    
            </ul>
            <ul id='menu-user' class="navbar-nav mr-auto">

                {% if user.is_authenticated %}
                    <div class="dropdown">
                        
                        <a class="d-flex align-items-center justify-content-center nav-link text-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="d-flex align-items-center">
                                {{ user.username.capitalize }}
                            </div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <a class="d-flex justify-content-center dropdown-item nav-link bg-light text-primary dropdown-link" href="#">Mon Profil</a>

                            {% if perms.app %}
                                <a class="d-flex justify-content-center dropdown-item nav-link bg-light text-primary dropdown-link" href="/admin/">Administration</a>
                            {% endif %}

                            <a class="d-flex justify-content-center dropdown-item nav-link bg-light text-primary dropdown-link" href="#">Mes reservations</a>

                            <a class="d-flex justify-content-center dropdown-item nav-link bg-light text-red dropdown-link" href="#">Se déconnecter</a>
                        </div>
                    </div>
                {%  else %}
                    <li class="nav-item d-flex justify-content-center login-link">
                        <a class="nav-link text-primary" href="#">Se connecter</a>
                    </li>
                    <li class="nav-item d-flex justify-content-center login-link">
                        <a class="nav-link text-primary" href="#">S'inscrire</a>
                    </li>
                {% endif %}

            </ul>
    </nav>
</div>