<!DOCTYPE html>
<html lang ="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<!-- Add additional CSS in static file -->
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<title>{% block title %}  {% endblock title %}</title>
</head>
<body>
    Page test
<div class="container-fluid">
    <header>{% block header %} {%endblock %} </header>
  <div class="row">
    <div class="col-sm-2">
        {% block sidebar %}
         <ul class="sidebar-nav">
             <li><a href="listeshows">Tous les spectacles</a></li>
             <li><a href="show">Un show particulier</a></li>
         </ul>
        {% endblock %}
    </div>
       <div class="col-sm-10 ">
           {% block content %}
           {% endblock %}
       </div>
  </div>
</div>
</body>

</html>

